<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Proget" value="http://localhost:8624/nuget/proget/" />
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>